/**********************/
/* GENERAL + ELEMENTS */
/**********************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --primary-color: rgb(236, 236, 236);
    --secondary-color: rgb(45, 45, 45);
    --focus-highlight: #ddaf3b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #1f1f1f;
    font-size: 0.9rem;
    background-color: var(--primary-color);
    height: 2600px;
    position: relative;
    overflow-x: hidden;
}

header {
    background-color: var(--secondary-color);
    border-bottom: 4px solid var(--focus-highlight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.main-nav-links {
    display: flex;
    gap: 5%;
}


li {
    list-style: none;
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

h4 {
    color: white;
}

.copyright h4 {
    font-size: 0.7rem;
}

a,
a:visited {
    color: white;
    text-decoration: none;
}

.btn--primary {
    padding: 15px 30px;
    margin-top: 15px;
    font-family: 'Poppins', san-serif;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: var(--focus-highlight);
    outline: 0;
    border: 0;
    cursor: pointer;
    height: 55px;
}

.search-control {
    display: flex;
    gap: 12px;
    align-items: center;
}

.search-control button {
    padding: 0px 29px;
    height: 32px;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: var(--secondary-color);
    height: 50px;
    left: 0;
    border-top: 4px solid var(--focus-highlight);
}

/************/
/* HOMEPAGE */
/************/

section {
    width: 100%;
    max-width: 1400px;
    background-color: var(--secondary-color);
    height: 540px;
    border: var(--focus-highlight);
    margin: 1rem 0;
    position: relative;

}

.trending {
    position: absolute;
    left: -34vw;
    margin: 0 2vw;
    transition: transform 0.4s ease-in-out;
}

.trending:hover {
    animation-play-state: paused;
}

.trending,
.new-releases,
.upcoming {
    display: flex;

}

section.hero-slides {
    position: relative;
    display: grid;
    place-items: center;
    max-width: 100vw;
    height: 500px;
    margin: 6rem 0 1rem 0;
    background-color: black;
}

.slide {
    position: absolute;
    transition: all 0.5s;
    display: grid;
    place-items: center;
}

.hero-rte {
    position: absolute;
    color: white;
    left: 55%;
    height: 60%;
    bottom: 0%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2.5rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.controls {
    z-index: 5;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5vw;
}

.controls img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.controls img:hover {
    transform: scale(1.15);
}

/* Home Card Carousel controls */
.mini-controls {
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    gap: 10px;
    align-items: center;
    transform: translateX(-50%);
}

.promo-card-prev,
.promo-card-next {
    height: 50px;
    width: 50px;
    background-color: #666666;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

}

.promo-card-next {
    background-image: url('https://rnc-personal.github.io/CIProject2V2/assets/img/mini-chev-right.png');
}

.promo-card-prev {
    background-image: url('https://rnc-personal.github.io/CIProject2V2/assets/img/mini-chev-left.png');
}

/*********/
/* FONTS */
/*********/

header h1 {
    color: white;
    font-size: 1.3rem;
    margin-right: auto;
}

section h3 {
    color: white;
    font-size: 1.2rem;
}

/***************/
/* SEARCH PAGE */
/***************/

#form {
    display: flex;
    height: 62px;
    align-items: center;
}

.search {
    width: 200px;
    height: 30px;
    padding-left: 5px;
    outline: none;
    border: none;
}

.search:focus {
    outline: none;
    border-bottom: 4px solid var(--focus-highlight);

}

#main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.film-card {
    width: 300px;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    min-width: 300px;
    min-height: 370px;
}

.overview {
    background-color: var(--focus-highlight);
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in-out;
}

/* Fix for hover on mobile */
@media(hover: hover) and (pointer: fine) {
    .film-card:hover .overview {
        transform: translateY(101%);
    }
}

.film-card:hover .overview {
    transform: translateY(0);
}

.film-card img {
    width: 100%;
}

.film-info {
    background-color: var(--focus-highlight);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 1rem 1rem;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.film-info h3 {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #2d2d2d;
    border-radius: 50%;
    padding: 4px;
}

span.green {
    color: aquamarine;
}

span.orange {
    color: orange;
}

span.red {
    color: crimson;
}

/* RESPONSIVE */
@media screen and (min-width: 1000px) {
    .footer-flex {
        display: none;
    }
}

@media screen and (max-width: 999px) {
    .main-nav-links {
        display: none;
    }

    .mob-open {
        height: 240px;
    }

    footer {
        height: 80px;
    }

    .hidden-nav {
        text-align: center;
    }


}

@media screen and (max-width:1200px) {
    .hero-rte {
        transform: translateX(-50%);
        left: 50%;
        height: 25%;
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    html {
        overflow-x: hidden;
    }

    body {
        height: 4000px;
    }

    main {
        padding-top: 245px;
    }

    header {
        display: grid;
        place-items: center;
        justify-content: center;
    }

    header h1,
    header a {
        display: none;
    }

    .search-control {
        flex-direction: column;
    }

    header h1 {
        margin-right: unset;
    }

    section h3 {
        text-align: center;
    }



    .search {
        width: 80vw;
        margin: 0 auto;
        height: 45px;
    }

    section.hero-slides {
        margin: 6rem 0 0 0;
    }

    .promo {
        margin: 0;
        height: 9750px;
    }

    .mini-controls {
        display: none;
    }

    .trending {
        display: grid;
        grid-template-columns: 1fr;
        transform: translateX(-50%) !important;
        left: 48%;
    }

}